@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    user-select: none;
}

.cont {
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-self: center;
    display: flex;
    flex-direction: column;
    color: #252525;
    margin-top: 25vh;
    gap: 70px;
}
.S-cont {
    margin: auto;
    align-items: center;
    display: flex;
}
.S-B-P{
    border: #252525 dashed 2px ;
    border-radius: 8px;
}
.fade-in {
    opacity: 0;
    transform: translateY(15px);
    transition: all 1s ease-in-out;
}
  
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.cus-cont{
    display: flex;
    flex-wrap: wrap;
    
}
.S-product-cont{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    padding-bottom: 5px;
}
.S-product-cont:active {
    transform: scale(0.9);
}
.S-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.S-chip {
    display: flex;
    color: rgb(190, 190, 190);
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 100px;
    gap: 5px;
    font-weight: 600;
    height: 30px;
    text-align: center;
    border: 1px #2525256b solid;
    background-color: #25252500;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}
#chip:checked ~ .S-chip {
    color: #252525;
    border: none;
    background-color: #f5a524;
}
.S-temp2 {
    min-width: 89vw;
    scrollbar-width: 0;
    scrollbar-gutter: 0;
}
.S-temp-3 {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.S-temp-3::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
.S-demo-cont{
    max-width: 300px;
    max-height: max-content;
}
.temp2{
    width: calc(500px + 5vw);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.temp{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .temp2{
        width: 90vw;
        background-size: 100% ;
    }
    .S-product-cont{
        display: flex;
        padding: 5px;
        border-radius: 5px;
    }
    .S-button {
        margin-right: 5pxpx;
    }
    .S-product-cont > img{
        width: 40%;
        border-radius: 5px;
    }
    .cus-cont{
        gap: 10px;
        
    }
    .S-series {
        gap: 5px;
        margin-bottom: 10px;
    }
    .S-temp {
        flex: 0 1 calc(50%); /* 50% width minus the gap, adjust as needed */
        box-sizing: border-box;
        width: 150px;
    }
    
    .S-series > * {
        border: #a1a1a1 solid 1px;
        padding: 5px 20px;
        border-radius: 20px;
    }
}
.S-footer {

}
.NONESENSE {
    background-color: #2e1f29;
}
.S-Color-slot {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(131, 131, 131, 0.11);
    border-radius: 5px;
    opacity: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.121);
    transition: all 0.2s ease-in-out;
}
#S-radio:checked ~ .S-Color-slot{
    border: 2px solid #f5a524;
    transform: scale(1.1);
    opacity: 100%;
}
.S-icon-hover:hover {
    filter: brightness(1.2);
}
.S-icon-hover:active {
    transform: scale(0.8);
}
.S-footer-container > p {
    color: #7e7e7e;
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
}
.S-footer-container > p:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
    cursor: pointer;
}
.S-shadow{
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.103);
}

.S-Item{
    color: #5c5c5c;
    width: 40px;
    height: 40px;
    background-color: #ececec;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#Label:checked ~ .S-Item {
    background-color: #f5a524
}

.fadeInEffect {
    animation: FadeInEffect 1s ease-in-out;
}
@keyframes FadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
