@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    user-select: none;
}

.cont {
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-self: center;
    display: flex;
    flex-direction: column;
    color: #252525;
    margin-top: 25vh;
    gap: 70px;
}
.S-cont {
    margin: auto;
    align-items: center;
    display: flex;
}
.S-B-P{
    border: #252525 dashed 2px ;
    border-radius: 8px;
}
.fade-in {
    opacity: 0;
    transform: translateY(15px);
    transition: all 1s ease-in-out;
}
  
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 768px) {
    .S-series {
        gap: 5px;
        margin-bottom: 10px;
    }
    .S-series > * {
        border: #a1a1a1 solid 1px;
        padding: 5px 20px;
        border-radius: 20px;
    }
}
.S-footer {
    
}
.S-footer-container > p {
    color: #7e7e7e;
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
}
.S-footer-container > p:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
    cursor: pointer;
}
.S-shadow{
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.103);
}

.S-Item{
    color: #5c5c5c;
    width: 40px;
    height: 40px;
    background-color: #ececec;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#Label:checked ~ .S-Item {
    background-color: #f5a524
}

.fadeInEffect {
    animation: FadeInEffect 1s ease-in-out;
}
@keyframes FadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
